In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import urllib
import sys
import pgeocode as pgc
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_excel('SUB2021.xlsx',sheet_name='Annual Total') #blueberry

In [3]:
data

,Annual Subway Ridership,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Station (alphabetical by borough),*,Boro,2.016000e+03,2.017000e+03,2.018000e+03,2.019000e+03,2.020000e+03,2021.0,2020-2021 Change,NaN,2021 Rank
1,The Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"138 St-Grand Concourse (4,5)",1,Bx,1.070024e+06,1.036746e+06,9.445980e+05,1.035878e+06,3.714080e+05,656866.0,285457.986,0.768583,323
3,"149 St-Grand Concourse (2,4,5)",NaN,Bx,4.381900e+06,4.255015e+06,3.972763e+06,3.931908e+06,1.815785e+06,1832521.0,16736.029,0.009217,125
4,"161 St-Yankee Stadium (B,D,4)",NaN,Bx,8.784407e+06,8.596506e+06,8.392290e+06,8.254928e+06,3.221651e+06,4077604.0,855953.007,0.265688,33
...,...,...,...,...,...,...,...,...,...,...,...,...
433,Queens,NaN,NaN,2.527810e+08,2.431135e+08,2.340858e+08,2.361497e+08,1.007038e+08,121918793.0,21214992.021,0.210667,NaN
434,Systemwide Adjustment,NaN,NaN,1.995000e+04,8.699900e+04,-1.257900e+04,NaN,NaN,NaN,0,NaN,NaN
435,System Total,NaN,NaN,1.756815e+09,1.727367e+09,1.680060e+09,1.697787e+09,6.395410e+08,759976721.0,120435695.69,0.188316,NaN
436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,* MTA New York City Transit Temporary Station ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
x = data

In [5]:
x = x.T

In [6]:
x

,0,1,2,3,4,5,6,7,8,9,...,428,429,430,431,432,433,434,435,436,437
Annual Subway Ridership,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,Woodside-61 St (7),NaN,Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,NaN,* MTA New York City Transit Temporary Station ...
Unnamed: 1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,5511564.0,NaN,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN,NaN
Unnamed: 4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,5457171.0,NaN,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN,NaN
Unnamed: 5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,5282486.0,NaN,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN,NaN
Unnamed: 6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,5345369.0,NaN,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN,NaN
Unnamed: 7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,2391082.993,NaN,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN,NaN
Unnamed: 8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,3037602.0,NaN,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN,NaN
Unnamed: 9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,646519.007,NaN,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN,NaN
Unnamed: 10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.270388,NaN,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN,NaN
Unnamed: 11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
x = x.dropna(axis=1, how='all')

In [8]:
x

,0,1,2,3,4,5,6,7,8,9,...,426,427,428,430,431,432,433,434,435,437
Annual Subway Ridership,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,* MTA New York City Transit Temporary Station ...
Unnamed: 1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
Unnamed: 4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
Unnamed: 5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
Unnamed: 6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
Unnamed: 7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
Unnamed: 8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
Unnamed: 9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
Unnamed: 10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
Unnamed: 11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
x = x.reset_index()

In [10]:
x

,index,0,1,2,3,4,5,6,7,8,...,426,427,428,430,431,432,433,434,435,437
0,Annual Subway Ridership,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,* MTA New York City Transit Temporary Station ...
1,Unnamed: 1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unnamed: 2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unnamed: 3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
4,Unnamed: 4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
5,Unnamed: 5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
6,Unnamed: 6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
7,Unnamed: 7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
8,Unnamed: 8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
9,Unnamed: 9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
10,Unnamed: 10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
11,Unnamed: 11,2021 Rank,NaN,323,125,33,143,164,188,217,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
x = x.drop('index', axis=1)

In [12]:
x

,0,1,2,3,4,5,6,7,8,9,...,426,427,428,430,431,432,433,434,435,437
0,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,* MTA New York City Transit Temporary Station ...
1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
x = x.rename(columns=x.iloc[0])

In [14]:
x

,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,"* MTA New York City Transit Temporary Station Closings, 2015-2020"
0,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,* MTA New York City Transit Temporary Station ...
1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
x = x.drop([0])

In [16]:
x

,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,"* MTA New York City Transit Temporary Station Closings, 2015-2020"
1,*,NaN,1,NaN,NaN,NaN,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
x = x.drop([1])

In [18]:
x

,Station (alphabetical by borough),The Bronx,"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)",...,"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7),Brooklyn,Bronx,Manhattan,Queens,Systemwide Adjustment,System Total,"* MTA New York City Transit Temporary Station Closings, 2015-2020"
2,Boro,NaN,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.0,NaN,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,...,1513298.0,7144921.0,5511564.0,384540220.0,153079012.0,966394667.0,252780951.0,19950.0,1756814800.0,NaN
4,2017.0,NaN,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,...,1512676.0,6871409.0,5457171.0,379372550.0,149220838.0,955572737.0,243113483.0,86999.0,1727366607.0,NaN
5,2018.0,NaN,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,...,1370889.0,6509386.0,5282486.0,370231302.0,139238932.0,936516980.0,234085767.0,-12579.0,1680060402.0,NaN
6,2019.0,NaN,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,...,1337787.0,6381132.0,5345369.0,370545959.0,138381037.0,952710327.0,236149679.0,NaN,1697787002.0,NaN
7,2020.0,NaN,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,...,681796.028,2634482.911,2391082.993,153292737.772,65662310.981,319882175.578,100703800.979,NaN,639541025.31,NaN
8,2021.0,NaN,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,...,753419.0,3302348.0,3037602.0,183587543.0,72920734.0,381549651.0,121918793.0,NaN,759976721.0,NaN
9,2020-2021 Change,NaN,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,...,71622.972,667865.089,646519.007,30294805.228,7258423.019,61667475.422,21214992.021,0,120435695.69,NaN
10,NaN,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,...,0.10505,0.253509,0.270388,0.197627,0.110542,0.192782,0.210667,NaN,0.188316,NaN
11,2021 Rank,NaN,323,125,33,143,164,188,217,223,...,296,49,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
x = x.drop('The Bronx', axis=1)

In [20]:
x = x.drop('Brooklyn', axis=1)

In [21]:
x = x.drop('Queens', axis=1)

In [22]:
x = x.drop('Manhattan', axis=1)

In [23]:
x = x.drop('Bronx', axis=1)#Systemwide Adjustment

In [24]:
x = x.drop('Systemwide Adjustment', axis=1)

In [25]:
x = x.drop('System Total', axis=1)

In [26]:
x = x.drop('* MTA New York City Transit Temporary Station Closings, 2015-2020', axis=1)

In [27]:
x.columns

Index(['Station (alphabetical by borough)', '138 St-Grand Concourse (4,5)',
       '149 St-Grand Concourse (2,4,5)', '161 St-Yankee Stadium (B,D,4)',
       '167 St (4)', '167 St (B,D)', '170 St (4)', '170 St (B,D)',
       '174 St (2,5)', '174-175 Sts (B,D)',
       ...
       'Rockaway Blvd (A)', 'Rockaway Park-Beach 116 St (A,S)',
       'Seneca Av (M)', 'Steinway St. (M,R)', 'Sutphin Blvd (F)',
       'Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)',
       'Vernon Blvd-Jackson Av (7)', 'Woodhaven Blvd (J,Z)',
       'Woodhaven Blvd (M,R)', 'Woodside-61 St (7)'],
      dtype='object', length=424)

In [28]:
x

,Station (alphabetical by borough),"138 St-Grand Concourse (4,5)","149 St-Grand Concourse (2,4,5)","161 St-Yankee Stadium (B,D,4)",167 St (4),"167 St (B,D)",170 St (4),"170 St (B,D)","174 St (2,5)","174-175 Sts (B,D)",...,Rockaway Blvd (A),"Rockaway Park-Beach 116 St (A,S)",Seneca Av (M),"Steinway St. (M,R)",Sutphin Blvd (F),"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Vernon Blvd-Jackson Av (7),"Woodhaven Blvd (J,Z)","Woodhaven Blvd (M,R)",Woodside-61 St (7)
2,Boro,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,Bx,...,Q,Q,Q,Q,Q,Q,Q,Q,Q,Q
3,2016.0,1070024.0,4381900.0,8784407.0,3179087.0,3365748.0,3038777.0,2317558.0,2411413.0,1752387.0,...,2382252.0,250220.0,854251.0,4703321.0,1414334.0,7904869.0,4877185.0,1513298.0,7144921.0,5511564.0
4,2017.0,1036746.0,4255015.0,8596506.0,2954228.0,3293451.0,2785331.0,2270027.0,2334317.0,1735321.0,...,2371645.0,235691.0,454373.0,4733777.0,1338831.0,7457153.0,4821191.0,1512676.0,6871409.0,5457171.0
5,2018.0,944598.0,3972763.0,8392290.0,2933140.0,2022919.0,2562443.0,2454974.0,2056692.0,1005075.0,...,2336304.0,240483.0,565714.0,5075623.0,1303795.0,7282128.0,4493326.0,1370889.0,6509386.0,5282486.0
6,2019.0,1035878.0,3931908.0,8254928.0,2653237.0,2734530.0,2487611.0,2130461.0,2057118.0,1518260.0,...,2299903.0,228144.0,1080829.0,4715335.0,1345420.0,7354064.0,4623070.0,1337787.0,6381132.0,5345369.0
7,2020.0,371408.014,1815784.971,3221650.993,1396286.968,1422149.009,1265949.969,1002094.897,953564.086,788120.988,...,1040868.953,110132.99,474805.94,1768131.003,702013.013,2951061.063,1768317.017,681796.028,2634482.911,2391082.993
8,2021.0,656866.0,1832521.0,4077604.0,1615072.0,1508270.0,1278506.0,1104637.0,1077126.0,853579.0,...,1196776.0,109098.0,466641.0,2110765.0,707596.0,3799692.0,2189038.0,753419.0,3302348.0,3037602.0
9,2020-2021 Change,285457.986,16736.029,855953.007,218785.032,86120.991,12556.031,102542.103,123561.914,65458.012,...,155907.047,-1034.99,-8164.94,342633.997,5582.987,848630.937,420720.983,71622.972,667865.089,646519.007
10,NaN,0.768583,0.009217,0.265688,0.156691,0.060557,0.009918,0.102328,0.129579,0.083056,...,0.149785,-0.009398,-0.017196,0.193783,0.007953,0.287568,0.237922,0.10505,0.253509,0.270388
11,2021 Rank,323,125,33,143,164,188,217,223,272,...,202,420,367,103,307,38,94,296,49,57

In [29]:
datz = x.T

In [30]:
datz

,2,3,4,5,6,7,8,9,10,11
Station (alphabetical by borough),Boro,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2020-2021 Change,NaN,2021 Rank
"138 St-Grand Concourse (4,5)",Bx,1070024.0,1036746.0,944598.0,1035878.0,371408.014,656866.0,285457.986,0.768583,323
"149 St-Grand Concourse (2,4,5)",Bx,4381900.0,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0,16736.029,0.009217,125
"161 St-Yankee Stadium (B,D,4)",Bx,8784407.0,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0,855953.007,0.265688,33
167 St (4),Bx,3179087.0,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0,218785.032,0.156691,143
...,...,...,...,...,...,...,...,...,...,...
"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7904869.0,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0,848630.937,0.287568,38
Vernon Blvd-Jackson Av (7),Q,4877185.0,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0,420720.983,0.237922,94
"Woodhaven Blvd (J,Z)",Q,1513298.0,1512676.0,1370889.0,1337787.0,681796.028,753419.0,71622.972,0.10505,296
"Woodhaven Blvd (M,R)",Q,7144921.0,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,667865.089,0.253509,49
Woodside-61 St (7),Q,5511564.0,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0,646519.007,0.270388,57

In [31]:
datz = datz.reset_index()

In [32]:
datz

,index,2,3,4,5,6,7,8,9,10,11
0,Station (alphabetical by borough),Boro,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2020-2021 Change,NaN,2021 Rank
1,"138 St-Grand Concourse (4,5)",Bx,1070024.0,1036746.0,944598.0,1035878.0,371408.014,656866.0,285457.986,0.768583,323
2,"149 St-Grand Concourse (2,4,5)",Bx,4381900.0,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0,16736.029,0.009217,125
3,"161 St-Yankee Stadium (B,D,4)",Bx,8784407.0,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0,855953.007,0.265688,33
4,167 St (4),Bx,3179087.0,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0,218785.032,0.156691,143
...,...,...,...,...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7904869.0,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0,848630.937,0.287568,38
420,Vernon Blvd-Jackson Av (7),Q,4877185.0,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0,420720.983,0.237922,94
421,"Woodhaven Blvd (J,Z)",Q,1513298.0,1512676.0,1370889.0,1337787.0,681796.028,753419.0,71622.972,0.10505,296
422,"Woodhaven Blvd (M,R)",Q,7144921.0,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,667865.089,0.253509,49
423,Woodside-61 St (7),Q,5511564.0,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0,646519.007,0.270388,57

In [33]:
datz = datz.rename(columns=datz.iloc[0])

In [34]:
datz

,Station (alphabetical by borough),Boro,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2020-2021 Change,NaN,2021 Rank
0,Station (alphabetical by borough),Boro,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2020-2021 Change,NaN,2021 Rank
1,"138 St-Grand Concourse (4,5)",Bx,1070024.0,1036746.0,944598.0,1035878.0,371408.014,656866.0,285457.986,0.768583,323
2,"149 St-Grand Concourse (2,4,5)",Bx,4381900.0,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0,16736.029,0.009217,125
3,"161 St-Yankee Stadium (B,D,4)",Bx,8784407.0,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0,855953.007,0.265688,33
4,167 St (4),Bx,3179087.0,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0,218785.032,0.156691,143
...,...,...,...,...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7904869.0,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0,848630.937,0.287568,38
420,Vernon Blvd-Jackson Av (7),Q,4877185.0,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0,420720.983,0.237922,94
421,"Woodhaven Blvd (J,Z)",Q,1513298.0,1512676.0,1370889.0,1337787.0,681796.028,753419.0,71622.972,0.10505,296
422,"Woodhaven Blvd (M,R)",Q,7144921.0,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,667865.089,0.253509,49
423,Woodside-61 St (7),Q,5511564.0,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0,646519.007,0.270388,57

In [35]:
datz = datz.drop([0])

In [36]:
datz

,Station (alphabetical by borough),Boro,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2020-2021 Change,NaN,2021 Rank
1,"138 St-Grand Concourse (4,5)",Bx,1070024.0,1036746.0,944598.0,1035878.0,371408.014,656866.0,285457.986,0.768583,323
2,"149 St-Grand Concourse (2,4,5)",Bx,4381900.0,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0,16736.029,0.009217,125
3,"161 St-Yankee Stadium (B,D,4)",Bx,8784407.0,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0,855953.007,0.265688,33
4,167 St (4),Bx,3179087.0,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0,218785.032,0.156691,143
5,"167 St (B,D)",Bx,3365748.0,3293451.0,2022919.0,2734530.0,1422149.009,1508270.0,86120.991,0.060557,164
...,...,...,...,...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7904869.0,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0,848630.937,0.287568,38
420,Vernon Blvd-Jackson Av (7),Q,4877185.0,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0,420720.983,0.237922,94
421,"Woodhaven Blvd (J,Z)",Q,1513298.0,1512676.0,1370889.0,1337787.0,681796.028,753419.0,71622.972,0.10505,296
422,"Woodhaven Blvd (M,R)",Q,7144921.0,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,667865.089,0.253509,49
423,Woodside-61 St (7),Q,5511564.0,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0,646519.007,0.270388,57

In [37]:
datz = datz[['Station (alphabetical by borough)','Boro',2017.0,2018.0,2019.0,2020.0,2021.0]]

In [38]:
datz

,Station (alphabetical by borough),Boro,2017.0,2018.0,2019.0,2020.0,2021.0
1,"138 St-Grand Concourse (4,5)",Bx,1036746.0,944598.0,1035878.0,371408.014,656866.0
2,"149 St-Grand Concourse (2,4,5)",Bx,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0
3,"161 St-Yankee Stadium (B,D,4)",Bx,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0
4,167 St (4),Bx,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0
5,"167 St (B,D)",Bx,3293451.0,2022919.0,2734530.0,1422149.009,1508270.0
...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0
420,Vernon Blvd-Jackson Av (7),Q,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0
421,"Woodhaven Blvd (J,Z)",Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0
422,"Woodhaven Blvd (M,R)",Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0
423,Woodside-61 St (7),Q,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0

In [39]:
datz.to_csv('SUBWAYDATANOZIPS.csv')

In [40]:
datz

,Station (alphabetical by borough),Boro,2017.0,2018.0,2019.0,2020.0,2021.0
1,"138 St-Grand Concourse (4,5)",Bx,1036746.0,944598.0,1035878.0,371408.014,656866.0
2,"149 St-Grand Concourse (2,4,5)",Bx,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0
3,"161 St-Yankee Stadium (B,D,4)",Bx,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0
4,167 St (4),Bx,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0
5,"167 St (B,D)",Bx,3293451.0,2022919.0,2734530.0,1422149.009,1508270.0
...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0
420,Vernon Blvd-Jackson Av (7),Q,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0
421,"Woodhaven Blvd (J,Z)",Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0
422,"Woodhaven Blvd (M,R)",Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0
423,Woodside-61 St (7),Q,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0

In [41]:
sx = pd.read_csv('SUBSTATION.csv')

In [42]:
sx

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"
...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times

In [43]:
#for x in sx.index:
 #   sx.loc[x,'TL']=(sx.loc[x,'LINE']).split(' ')[0]
  #  sx.loc[x,'TL']=sx.loc[x,'TL'].replace('-',',')
  #  sx.loc[x,'NAME']='{0} ({1})'.format(sx.loc[x,'NAME'],sx.loc[x,'TL'])

In [44]:
sx

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"
...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times

In [45]:
import geopy

In [46]:
geolocator = geopy.Nominatim(user_agent='MTAzips')

In [47]:
for ind in sx.index:
    sx.loc[ind,'Lon']=sx.loc[ind,'the_geom'].split('(')[1].split(' ')[0]
    sx.loc[ind,'Lat']=sx.loc[ind,'the_geom'].split('(')[1].split(' ')[1].split(')')[0]
    sx.loc[ind,'Lat']=(sx.loc[ind,'Lat'][0:8])
    sx.loc[ind,'Lon']=(sx.loc[ind,'Lon'][0:8])
    sx.loc[ind,'coordi']='{0},{1}'.format(sx.loc[ind,'Lat'],sx.loc[ind,'Lon'])
    #sx.loc[ind,'RAWS']=geolocator.reverse(sx.loc[ind,'coordi'])
    #print((geolocator.reverse(sx.loc[ind,'coordi'])).raw['address']['postcode'])
    fff = ((geolocator.reverse(sx.loc[ind,'coordi'])).raw['address']['postcode'])
    sx.loc[ind,'ZipCode']=fff

In [48]:
sx

,URL,OBJECTID,NAME,the_geom,LINE,NOTES,Lon,Lat,coordi,ZipCode
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-73.9910,40.73005,"40.73005,-73.9910",10003
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s...",-74.0001,40.71880,"40.71880,-74.0001",10013
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights",-73.9838,40.76172,"40.76172,-73.9838",10019
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times",-73.9749,40.68086,"40.68086,-73.9749",11213
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times",-73.8948,40.66471,"40.66471,-73.8948",11207
...,...,...,...,...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times",-73.9812,40.57728,"40.57728,-73.9812",11224
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound...",-74.0021,40.75544,"40.75544,-74.0021",10199
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times,-73.9583,40.76880,"40.76880,-73.9583",10021
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times,-73.9517,40.77786,"40.77786,-73.9517",10028
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times,-73.9470,40.78423,"40.78423,-73.9470",10128

In [49]:
statslist = sx[['NAME','ZipCode']]

In [50]:
statslist

                            NAME ZipCode
0                       Astor Pl   10003
1                       Canal St   10013
2                        50th St   10019
3                      Bergen St   11213
4               Pennsylvania Ave   11207
..                           ...     ...
468  Coney Island - Stillwell Av   11224
469       34th St - Hudson Yards   10199
470                      72nd St   10021
471                      86th St   10028
472                      96th St   10128

[473 rows x 2 columns]

In [51]:
datz

,Station (alphabetical by borough),Boro,2017.0,2018.0,2019.0,2020.0,2021.0
1,"138 St-Grand Concourse (4,5)",Bx,1036746.0,944598.0,1035878.0,371408.014,656866.0
2,"149 St-Grand Concourse (2,4,5)",Bx,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0
3,"161 St-Yankee Stadium (B,D,4)",Bx,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0
4,167 St (4),Bx,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0
5,"167 St (B,D)",Bx,3293451.0,2022919.0,2734530.0,1422149.009,1508270.0
...,...,...,...,...,...,...,...
419,"Sutphin Blvd-Archer Av-JFK Airport (E,J,Z)",Q,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0
420,Vernon Blvd-Jackson Av (7),Q,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0
421,"Woodhaven Blvd (J,Z)",Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0
422,"Woodhaven Blvd (M,R)",Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0
423,Woodside-61 St (7),Q,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0

In [52]:
kx = datz

In [53]:
for x in kx.index:
    kx.loc[x,'Station (alphabetical by borough)']=kx.loc[x,'Station (alphabetical by borough)'].split(' (')[0]

/var/folders/97/f4_324td60vbkp2hd2cx3kqc0000gn/T/ipykernel_22491/1830567845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kx.loc[x,'Station (alphabetical by borough)']=kx.loc[x,'Station (alphabetical by borough)'].split(' (')[0]

In [54]:
kx

,Station (alphabetical by borough),Boro,2017.0,2018.0,2019.0,2020.0,2021.0
1,138 St-Grand Concourse,Bx,1036746.0,944598.0,1035878.0,371408.014,656866.0
2,149 St-Grand Concourse,Bx,4255015.0,3972763.0,3931908.0,1815784.971,1832521.0
3,161 St-Yankee Stadium,Bx,8596506.0,8392290.0,8254928.0,3221650.993,4077604.0
4,167 St,Bx,2954228.0,2933140.0,2653237.0,1396286.968,1615072.0
5,167 St,Bx,3293451.0,2022919.0,2734530.0,1422149.009,1508270.0
...,...,...,...,...,...,...,...
419,Sutphin Blvd-Archer Av-JFK Airport,Q,7457153.0,7282128.0,7354064.0,2951061.063,3799692.0
420,Vernon Blvd-Jackson Av,Q,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0
421,Woodhaven Blvd,Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0
422,Woodhaven Blvd,Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0
423,Woodside-61 St,Q,5457171.0,5282486.0,5345369.0,2391082.993,3037602.0

In [78]:
AA = kx

In [79]:
BB = statslist

In [80]:
for x in AA.index:
    AA.loc[x,'Station (alphabetical by borough)']=AA.loc[x,'Station (alphabetical by borough)'].split(' ')[0]

/var/folders/97/f4_324td60vbkp2hd2cx3kqc0000gn/T/ipykernel_22491/4259697160.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AA.loc[x,'Station (alphabetical by borough)']=AA.loc[x,'Station (alphabetical by borough)'].split(' ')[0]

In [81]:
for x in BB.index:
    BB.loc[x,'NAME']=BB.loc[x,'NAME'].split(' ')[0]

/var/folders/97/f4_324td60vbkp2hd2cx3kqc0000gn/T/ipykernel_22491/1571090984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BB.loc[x,'NAME']=BB.loc[x,'NAME'].split(' ')[0]

In [82]:
posifinal = kx.merge(statslist,left_on='Station (alphabetical by borough)',right_on='NAME')

In [83]:
posifinal

,Station (alphabetical by borough),Boro,2017.0,2018.0,2019.0,2020.0,2021.0,NAME,ZipCode
0,Allerton,Bx,1678247.0,1603702.0,1614464.0,760068.025,850231.0,Allerton,10467
1,Baychester,Bx,1054373.0,1006343.0,1094872.0,491292.994,485836.0,Baychester,10466
2,Bedford,Bx,2220298.0,1984267.0,2143375.0,968589.93,1106992.0,Bedford,11221
3,Bedford,Bx,2220298.0,1984267.0,2143375.0,968589.93,1106992.0,Bedford,11211
4,Bedford,Bx,2220298.0,1984267.0,2143375.0,968589.93,1106992.0,Bedford,10458
...,...,...,...,...,...,...,...,...,...
544,Vernon,Q,4821191.0,4493326.0,4623070.0,1768317.017,2189038.0,Vernon,11101
545,Woodhaven,Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0,Woodhaven,11421
546,Woodhaven,Q,1512676.0,1370889.0,1337787.0,681796.028,753419.0,Woodhaven,11373
547,Woodhaven,Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,Woodhaven,11421
548,Woodhaven,Q,6871409.0,6509386.0,6381132.0,2634482.911,3302348.0,Woodhaven,11373

In [85]:
posifinal.to_csv('SUBWAYRIDERINFO.csv')

In [57]:
#def get_zipcode(df, geolocator, coordi):
   # location = geolocator.reverse(coordi)
   # print(location)
   # return location.raw['address']['postcode']

In [58]:
#print(geolocator.reverse('40.7305,-73.9910'))

In [59]:
#geolocator = geopy.Nominatim(user_agent='MTAzips')

In [60]:
#FinZips = get_zipcode(sx, geolocator,coordi='coordi')

In [61]:
#sx

In [62]:
#f = sx['the_geom'][2]

In [63]:
#f

In [64]:
#f = f.split('(')[1]

In [65]:
#f#

In [66]:
#a = f.split(' ')[0]

In [67]:
#a

In [68]:
#b = f.split(' ')[1]

In [69]:
#b

In [70]:
 #b = b.split(')')[0]

In [71]:
#b

In [72]:
#import re

In [73]:
#temp = re.findall(r'd+', sx['the_geom'][2])

In [74]:
#temp

In [75]:
#import geopy

In [76]:
#import geopandas

In [77]:
#def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    return location.raw['address']['postcode']

IndentationError: unexpected indent (1523448085.py, line 2)

In [ ]:
#geolocator = geopy.Nominatim(user_agent='Zippy')

In [ ]:
#df = pd.DataFrame({
    'Lat': [29.39291, 29.39923, 29.40147, 29.38752, 29.39291, 29.39537, 29.39343, 29.39291, 29.39556],
    'Lon': [-98.50925, -98.51256, -98.51123, -98.52372, -98.50925, -98.50402, -98.49707, -98.50925, -98.53148]
})

In [ ]:
#zipcodes = df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [ ]:
#zipcodes

In [ ]:
#df #Goal

In [ ]:
#sx